html,
body {
  height: 100%;
  margin: 0;
}

section {
  height: 100vh;
  -webkit-overscroll-behavior: none;
	overscroll-behavior: none;
	-webkit-overflow-scrolling: touch;
  position: relative;
}
.packages, .reviews, .tours {
  background-color: #fff;
}
.navi {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  height: 50px;
  width: 100%;
  padding: 20px 0;
  max-width: 1920px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 650px) {
  .navi {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
    height: unset;
  }
}
.navi .holdLogNav {

  width: 40%;
  
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navi .holdLogNav a {
  display: block;
}
.navi .holdLogNav a img {
  max-width: 150px;
  width: 100%;
}
.navi .holdElNav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 650px) {
  .navi .holdElNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.navi .navEl {
  font-size: 18px;
  font-family: "Exo";
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.navi .navEl:visited {
  color: #fff;
}
.navi .navEl:hover {
  -webkit-animation: tilt-shaking 1s;
          animation: tilt-shaking 1s;
}
@media (max-width: 650px) {
  .navi .navEl {
    display: block;
    width: 100%;
    text-align: center;
    height: 31px;
    padding: 7px;
    line-height: 31px;
  }
}

h1, h2, p {
  margin: 0;
}

.home {
  width: 100%;
  background-image: url(./media/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.home .intro {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .intro .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
@media (max-width: 650px) {
  .home .intro .logo {
    display: none;
  }
}

.home .intro .logo  {
  width: 100%;
}

.home .intro .logo svg {
  max-width: 400px;
  width: 100%;
  filter: drop-shadow(0px 5px 5px rgb(0 0 0 / 0.5));
}
 
.home .intro .logo img {
  max-width: 300px;
  width: 100%;
}

.home .intro .logo svg .cls-1 {
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3.0s ease-out 1.0s forwards,  filled 2.0s ease-out 2.0s forwards ;
}

.home .intro .logo img  {
  opacity: 0;
  animation: fade 2.0s ease-out 2.0s forwards ;
}

/* SVG fill animation */
@-webkit-keyframes filled {
    from {
      fill: transparent;
    }
    to {
      fill: #fff;
    }
  }
@keyframes filled {
  from {
    fill: transparent;
  }
  to {
    fill: #fff;
  }
}

/* SVG stroke animation */
@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/* fade animation */
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



.home .footer {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  position: relative;
  padding: 30px 0;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  z-index: 3;
  width: 100%;
}
.home .footer .holder {
  width: 100%;
  position: relative;
}
.home .footer .holder p {
  font-size: 12px;
  font-family: "Exo";
  font-weight: bold;
  color: #fff;
}
.home .footer .holder .icons {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 650px) {
  .home .footer .holder .icons {
    position: relative;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    right: unset;
    top: unset;
    padding: 15px;
  }
}
.home .footer .holder .icons a:hover {
  -webkit-animation: social-fade-zoom 1s forwards;
          animation: social-fade-zoom 1s forwards;
}

.home .footer .holder .icons a img {
  max-width: 30px;
  margin: 0 10px;
  width: 100%;
  border-radius: 14px
}

.tours {
  padding: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 760px) {
  .tours {
    padding: 10px;
  }
}
.tours h1 {
  font-size: 30px;
  text-align: center;
  font-family: "Exo";
  color: #000;
  font-weight: bold;
  margin-bottom: 30px;
}
.tours h2 {
  font-size: 20px;
  color: #000;
  text-align: center;
  margin-bottom: 50px;
  font-family: "Exo";
}
.tours .myCarousel .carouEl {
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.tours .myCarousel .carouEl a {
  color: #000;
  text-decoration: none;
}
.tours .myCarousel .carouEl a:visited {
  color: #000;
}
.tours .myCarousel .carouEl a:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.tours .myCarousel .carouEl a:hover p {
  -webkit-animation: tilt-shaking 1s;
          animation: tilt-shaking 1s;
}
.tours .myCarousel .carouEl a .carouImgHold {
  max-width: 270px;
  width: 100%;
  overflow: hidden;
}
.tours .myCarousel .carouEl a .carouImgHold img {
  max-width: 250px;
  width: 100%;
  -webkit-transition: ease-in 1s;
  transition: ease-in 1s;
}
.tours .myCarousel .carouEl a p {
  color: #000;
  font-family: "Exo";
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
}

.halfDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
@media (max-width: 750px) {
  .halfDiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.halfDiv .imgDiv {
  width: 55%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 750px) {
  .halfDiv .imgDiv {
    width: 100%;
  }
}
.halfDiv .imgDiv img {
  width: 1920px;
}
@media (max-width: 750px) {
  .halfDiv .imgDiv img {
    max-width: 750px;
    width: 100%;
  }
}
.halfDiv .descDiv {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
}
@media (max-width: 750px) {
  .halfDiv .descDiv {
    width: 100%;
    padding: 10px;
  }
}
.halfDiv .descDiv .btnMore {
  display: block;
  margin: 10px 0;
  height: 40px;
  color: #000;
  max-width: 100px;
  line-height: 40px;
  font-family: "Exo";
  font-size: 15px;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
  background-color: transparent;
  border: 2px solid rgb(88, 88, 88);
  border-radius: 8px;
  text-decoration: none;
  padding: 5px 10px;
}
.halfDiv .descDiv .btnMore:visited {
  color: #000;
}
.halfDiv .descDiv .btnMore:hover {
  background-color: rgba(167, 148, 40, 0.928);
  border: 2px solid #fff;
  color: #fff;
}
.halfDiv .descDiv .btnBook {
  display: block;
  margin: 10px 0;
  height: 40px;
  color: #000;
  max-width: 100px;
  line-height: 40px;
  font-family: "Exo";
  font-size: 15px;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
  background-color: transparent;
  border: 2px solid rgb(88, 88, 88);
  border-radius: 8px;
  text-decoration: none;
  padding: 5px 10px;
}
.halfDiv .descDiv .btnBook:visited {
  color: #000;
}
.halfDiv .descDiv .btnBook:hover {
  background-color: rgba(167, 148, 40, 0.928);
  border: 2px solid #fff;
  color: #fff;
}
.halfDiv .descDiv h1 {
  font-family: "Exo";
  font-size: 30px;
  margin-bottom: 30px;
  color: #000;
}
.halfDiv .descDiv p {
  font-family: "Exo";
  font-size: 20px;
  margin-bottom: 20px;
  color: #000;
}
.halfDiv .descDiv .mention {
  font-size: 12px;
  margin-top: 10px;
}

.reviews{
  background-color:#f1cc99;
}

.booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(./media/map.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px;
}
.booking h1 {
  font-size: 30px;
  margin-bottom: 10px;
  font-family: "Exo";
  font-weight: bold;
  color: #fff;
}
.booking p {
  color: #fff;
  font-size: 20px;
  margin-bottom: 30px;
  font-family: "Exo";
}
.booking form {
  max-width: 500px;
  margin: auto;
  display: block;
  width: 100%;
}
.booking form label {
  color: #fff;
}

/* tilt animation for buttons hover */
@-webkit-keyframes tilt-shaking {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(0eg);
            transform: rotate(0eg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes tilt-shaking {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(0eg);
            transform: rotate(0eg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

/* tilt animation for social buttons hover */
@-webkit-keyframes social-fade-zoom {
  0% {
    opacity:1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  
  50% {
    opacity:0.8;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  
  100% {
    opacity:1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes social-fade-zoom {
  0% {
    opacity:1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  
  50% {
    opacity:0.8;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  
  100% {
    opacity:1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.displayNone {
  display: none !important;
}

.tours .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.tours .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 500px;
}
.tours .swiper-slide p {
  font-family: "Exo";
  font-size: 15px;
  text-align: center;
  margin: 20px auto;
  font-weight: bold;
}
.tours .swiper-slide img {
  display: block;
  width: 100%;
  -webkit-transition: ease-in 1s;
  transition: ease-in 1s;
}
.tours .swiper-slide-active:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.tours .swiper-horizontal > .swiper-pagination-bullets, .tours .swiper-pagination-bullets.swiper-pagination-horizontal, .tours .swiper-pagination-custom, .tours .swiper-pagination-fraction {
  bottom: -4px !important;
}

.packages .swiper {
  width: 100%;
  height: 100%;
}
.packages .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.packages .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hidenText {
  display: none;
}

#myVideo {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%; 
  z-index: 0;
  display: none;
}
@media (max-width:1440px) {
  #myVideo {
    display: block;
  }
}
 